.header-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  z-index: -1;
}

.box {
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-dark);
  cursor: pointer;
}

@keyframes box-shadows {
  0% {
    border: 1px solid var(--color-dark);
    box-shadow: none;
  }
  .01% {
    border: 1px solid var(--color-dark-secondary);
    box-shadow: 0 0 2000px var(--color-dark-secondary);
  }
}

@media (min-width: 1000px) {
  .header-background {
    grid-template-columns: repeat(12, 1fr);
  }
}
