.projects {
  gap: 5em;
}

.project-card {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  gap: 1em;
}

.project-card-data {
  gap: 0.5em;
}

.project-name {
  margin-bottom: 0.2em;
}

.tags {
  gap: .5em;
  align-items: center;
}

.tag {
  margin-top: 1.5em;
  border: 0.4px solid var(--color-light);
  border-radius: 4px;
  padding: 0.5em;
  font-size: 0.7rem;
}

.project-card-data .btn {
  margin-top: 3em;
}

.project-card-img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  opacity: .9;
}

@media (min-width: 700px) {
  .project-card {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
    justify-content: unset;
    gap: 5em;
  }
}
