.projects {
  width: 100%;
}

.projects-container {
  gap: 10em;
}

.project-card {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  gap: 1em;
}

.project-card-data {
  display: grid;
}

.project-name {
  margin-bottom: 0.2em;
}

.tags {
  margin-top: 1.5em;
  gap: 0.5em;
}

.tag {
  border: 0.4px solid var(--color-light);
  border-radius: var(--radius);
  padding: 0.3em;
  font-size: 0.7rem;
}

.project-card-data .btn--primary {
  margin-top: 2em;
}

.project-card-data .btn--secondary {
  margin-top: 1em;
}

.project-card-img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius);
  opacity: 0.8;
}

@media (min-width: 700px) {
  .project-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: unset;
    gap: 5em;
  }
  .project-card-data {
    display: unset;
  }
  .project-card-data .btn {
    margin-top: 3em;
  }
}
