.hero {
  text-align: center;
  flex-flow: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: relative;
}

.title {
  font-size: 3rem;
}

.title,
.sub-title {
  text-shadow: 0 0 200px var(--color-dark);
}
