.hero {
  text-align: center;
  flex-flow: column;
  height: 50vh;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: relative;
}

.title {
  font-size: 3rem;
}

.title,
.sub-title {
  text-shadow: 20px 20px 50px rgba(0, 0, 0, 0.8);
}
