button,
input,
textarea {
  font-size: 1rem;
}

.form {
  max-width: 575px;
  width: 100%;
  margin: 0 auto;
  gap: 2em;
}

.form input,
.form textarea {
  padding: 0.75em 0.5em;
  border: 1px solid var(--color-light);
  border-radius: var(--radius);
  resize: none;
  background: transparent;
  color: var(--color-light);
}

.form input:focus,
.form textarea:focus {
  outline: 1px solid var(--color-cta);
}

.form label,
.form input,
.form textarea {
  width: 100%;
}
