.about-container {
  max-width: 600px;
  margin: 3em auto;
  gap: 2em;
  border-radius: var(--radius);
}

.about-img-container {
  background: var(--color-cta);
  border-radius: 100%;
  height: 300px;
  width: 300px;
  position: relative;
  margin: 0 auto;
}

.about-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.about-section {
  gap: 1em;
}

.tech-skills {
  gap: 1em;
  list-style: none;
  padding-left: 0;
  flex-flow: wrap;
}

.tech-skills > li {
  flex-grow: 1;
}

@media (min-width: 700px) {
  .about-img-container {
    height: 350px;
    width: 350px;
  }
  .tech-skills > li {
    flex-grow: unset;
  }
}
