.footer {
  padding: 5em 0;
}

.footer-list {
  padding: 1em 0;
  gap: 1em;
  justify-content: center;
}

.footer-list li {
  list-style: none;
}

.footer a {
  color: var(--color-light);
}

.footer a:hover {
  color: var(--color-cta);
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
}

.copyright > span {
  margin-right: 0.5em;
}
