:root {
  --font-primary: "Lato", sans-serif;
  --color-light: #ccc;
  --color-light-header: #eee;
  --color-dark: hsl(0, 0%, 9%);
  --color-cta: hsl(48, 88%, 67%);
  --color-cta-hover: hsl(48, 93%, 63%);
  --color-cta-secondary-hover: hsl(272, 32%, 92%);
  --radius: 2px;
}

/* General  */

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--color-light-header);
  letter-spacing: 2px;
  text-transform: uppercase;
}

body {
  color: var(--color-light);
  background: linear-gradient(to top, #181818, #131414);
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

a,
button,
i {
  transition: all 0.3s;
  cursor: pointer;
}

p {
  line-height: 1.5;
}

/* Utility  */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Layout */

.outer-container {
  padding: 0 5%;
}

.section-header {
  text-align: center;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 3em;
}

/* Buttons and Icons */

.btn {
  background: none;
  border-radius: var(--radius);
  border: none;
  font-weight: 700;
}

.btn--primary {
  background: var(--color-cta);
  color: var(--color-dark);
}

.btn--primary:hover {
  background: var(--color-cta-hover);
}

.btn--secondary {
  color: var(--color-light);
  text-decoration: underline;
}

.btn--secondary:hover {
  color: var(--color-dark);
  background: var(--color-cta-secondary-hover);
}

.btn--primary,
.btn--secondary {
  display: block;
  padding: 0.5em 1em;
  text-align: center;
  width: 100%;
  min-width: 100px;
}

i {
  font-size: 22px;
}

.nav-list--desktop a:hover,
.nav-list--mobile a:hover,
.nav-list--desktop i:hover,
.nav-list--mobile i:hover {
  color: var(--color-cta);
}

@media (min-width: 500px) {
  .btn--primary,
  .btn--secondary {
    display: inline-block;
    justify-self: start;
    width: unset;
  }
  .btn--primary {
    margin-right: 1em;
  }
  .btn--secondary {
    font-size: 0.8rem;
  }
}

@media (min-width: 700px) {
  .outer-container {
    padding: 0 10%;
  }
}
