:root {
  --clr-cta: #b8ebd0;
  --clr-gray: #e6e3e8;
  --clr-primary: #ebe3f1;
  --clr-primary-dark: #8d5a97;
  --clr-primary-light: #b0c7bd;
  --clr-dark: #444;
  --clr-light: hsl(234, 6%, 95%);
  --font-primary: "Roboto", sans-serif;
  --font-headers: "Archivo Black", sans-serif;
  --font-xs: 15px;
  --font-s: 17px;
  --font-m: 20px;
  --font-l: 32px;
  --font-xl: 46px;
  --font-xxl: 64px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;
  --spacing-xxl: 128px;
  --radius-soft: 5px;
  --radius-circle: 50%;
  --transition-quick: all 0.2s;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-dark);
  background: var(--clr-light);
  font-family: var(--font-primary);
}

section {
  margin: var(--spacing-xl) 0;
}

ul {
  list-style-type: none;
}

/* Typography  */
h1,
h2,
h3 {
  font-family: var(--font-headers);
}

h1 {
  font-size: var(--font-l);
}

h2 {
  text-align: center;
  padding: var(--spacing-xl) 0;
}

p {
  line-height: 1.5;
  margin: var(--spacing-s) 0;
}

/* Buttons & Icons  */
a,
button {
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition-quick);
  color: var(--clr-dark);
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background: none;
}

.btn {
  display: inline-block;
  margin-top: var(--spacing-l);
  padding: var(--spacing-s) var(--spacing-l);
  border-radius: var(--radius-soft);
  font-weight: bold;
}

.btn--primary {
  background: var(--clr-cta);
}

.btn--alt {
  background: var(--clr-primary);
}

i {
  pointer-events: none;
  font-size: 22px;
}

.icon-btn {
  padding: var(--spacing-m);
}

/* Utility */
.flex {
  display: flex;
}

.flex-column {
  flex-flow: column;
}

.hidden {
  display: none;
}

/* Containers */
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: var(--spacing-m);
  position: relative;
}

.container--wide {
  padding: var(--spacing-m) var(--spacing-xl);
}

.container--narrow {
  max-width: 1200px;
}

/* Nav  */
.nav-ul {
  gap: var(--spacing-l);
  justify-content: space-between;
}

.nav-ul a {
  font-size: var(--font-xs);
  text-transform: uppercase;
}

.align-left {
  margin-right: auto;
}

.fa-bars {
  position: absolute;
  top: var(--spacing-m);
  right: var(--spacing-m);
}

/* Nav Ham Menu */
.nav-ham-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 75vw;
  background: var(--clr-dark);
  text-align: center;
}

.nav-ham-menu li:first-child {
  text-align: right;
}

.nav-ham-menu a {
  display: inline-block;
  color: var(--clr-light);
  padding: var(--spacing-m);
  width: 100%;
}

.fa-xmark {
  color: var(--clr-light);
}

/* Hero Section  */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius-soft);
  gap: var(--spacing-l);
  background: #fff;
  box-shadow: var(--shadow);
}

.card-right,
.card-left {
  width: 50%;
}

.card--hero {
  padding: var(--spacing-l);
}

.card--hero .card-right {
  height: 400px;
  width: 100%;
}

.card--hero img {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Projects Section  */
.projects-list {
  gap: var(--spacing-xl);
}

.card--projects {
  padding: var(--spacing-l);
}

.tags-ul {
  gap: var(--spacing-m);
}

.tag {
  border: 1px solid var(--clr-dark);
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: 400px;
  background: var(--clr-gray);
  font-size: var(--font-xs);
}

.project-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius-soft);
  border: 1px solid var(--clr-gray);
}

/* Footer  */
.container--footer {
  gap: var(--spacing-s);
}

.social-links,
.social-links li {
  justify-content: center;
  gap: var(--spacing-m);
}

.copyright {
  text-align: center;
  font-size: var(--font-xs);
}

@media only screen and (max-width: 500px) {
  .nav-ul--desktop {
    display: none;
  }
  .nav-ul--mobile {
    display: flex;
  }
  .ham-btn {
    display: block;
    margin-left: auto;
  }
  .btn {
    width: 100%;
    text-align: center;
    margin-top: var(--spacing-m);
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    flex-flow: column;
  }
  .card-left,
  .card-right {
    width: 100%;
  }
  .card--hero {
    padding: var(--spacing-xl) var(--spacing-m);
  }
  .card--projects {
    padding: var(--spacing-m);
  }
  .card-right {
    position: relative;
  }
  .card--hero img {
    bottom: 0;
    right: -20px;
  }
}

@media only screen and (max-width: 1500px) {
  .container--wide {
    padding: var(--spacing-m);
  }
}

@media only screen and (min-width: 501px) {
  .nav-ul--desktop {
    display: flex;
  }
}
